/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    width: 80%;
    max-width: 1200px;
    max-height: 90vh;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
}

.upload-section {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.image-list {
    margin-top: 20px;
}

#imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-item button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.image-item button:hover {
    background-color: #c82333;
}

/* Media Queries */

/* For tablets and small screens */
@media (max-width: 768px) {
    .dashboard-container {
        width: 95%;
    }
    
    #imagesContainer {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .image-item {
        height: 150px; /* Adjust height as needed */
    }

    .image-item button {
        padding: 3px 7px;
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .dashboard-container {
        width: 100%;
        padding: 10px;
    }

    .upload-section {
        flex-direction: column;
        align-items: center;
    }

    input[type="file"] {
        margin-bottom: 10px;
        width: 100%;
    }

    button {
        width: 100%;
    }

    #imagesContainer {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }

    .image-item {
        height: 120px; /* Adjust height as needed */
    }

    .image-item button {
        padding: 2px 5px;
    }
}
